<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header">
                <h3 th:text="${titulo}"></h3>
            </div>
            <div class="card-body">
                <form method="POST" th:action="@{/administrador/configuracion/global/guardarConfig}" id="confGlobal">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td class="col-1"><b>Sistema Operativo</b></td>
                                <td class="col-2">
                                    <span type="text" disabled th:text="${os}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><b>Usuario de Sistema Operativo</b></td>
                                <td class="col-2">
                                    <span type="text" disabled th:text="${user_os}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><b>Root</b></td>
                                <td class="col-2">
                                    <input type="text" placeholder="Ruta" style="width: 300px;"
                                        th:value="${configuraciones[0].valor}" name="root" id="valorRuta">
                                    <button type="button" class="btn btn-primary" id="validarRuta"
                                        onclick="ValidarRuta();">Validar ruta</button>
                                    <span id="validacionRuta" class="text" style="margin-left: 8px;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><b>Espacio utilizado / Espacio disponible</b></td>
                                <td class="col-2">
                                    <span type="text" disabled th:text="${use_disk}+' / ' +${free_disk}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><b>Archivo KEY</b></td>
                                <td class="col-2">
                                    <input type="text" placeholder="Ruta" style="width: 300px;"
                                        th:value="${configuraciones[1].valor}" name="key" id="valorKey">
                                    <button type="button" class="btn btn-primary"
                                        onclick="ValidarCifrado('valorKey','validacionKey');">Validar ruta</button>
                                    <span id="validacionKey" class="text" style="margin-left: 8px;"></span>
                                    <a th:href="@{/administrador/configuracion/global/key}" class="btn btn-primary"
                                        th:if="${configuraciones[3].valor=='0'}">Generar KEY</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><b>Archivo IV</b></td>
                                <td class="col-2">
                                    <input type="text" placeholder="Ruta" style="width: 300px;"
                                        th:value="${configuraciones[2].valor}" name="iv" id="valorIv">
                                    <button type="button" class="btn btn-primary"
                                        onclick="ValidarCifrado('valorIv','validacionIv');">Validar ruta</button>
                                    <span id="validacionIv" class="text" style="margin-left: 8px;"></span>
                                    <a th:href="@{/administrador/configuracion/global/iv}" class="btn btn-primary"
                                        th:if="${configuraciones[4].valor=='0'}">Generar IV</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><b>Número de backup por archivo</b></td>
                                <td class="col-2">
                                    <input type="number" placeholder="Numero de backup" style="width: 300px;" min="1"
                                        max="5" th:value="${configuraciones[5].valor}" name="bkfile">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><b>Tamaño máximo para subir archivo</b></td>
                                <td class="col-2">
                                    <input type="number" placeholder="Numero de backup" style="width: 300px;" min="3"
                                        max="1000" th:value="${configuraciones[6].valor}" name="size">
                                    <span>(MB) ingresar tamaño en MegaBytes</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><b>Duración de la sesión</b></td>
                                <td class="col-2">
                                    <input type="number" placeholder="Timeout de sesión" style="width: 300px;" min="10"
                                        max="500" th:value="${configuraciones[7].valor}" name="time">
                                    <span>(minutos)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><b>Puerto de aplicativo</b></td>
                                <td class="col-2">
                                    <input type="number" placeholder="Puerto de servidor" style="width: 300px;"
                                        min="1024" th:value="${configuraciones[8].valor}" name="port">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary"
                        onclick="document.getElementById('confGlobal').submit();">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>