<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header">
                <h3 th:text="${titulo}"></h3>
            </div>
            <div class="card-body">
                <div th:if="${!listaUsuarios.isEmpty()}">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Usuario</th>
                                <th>Rol</th>
                                <th>Habilitado</th>
                                <th>Fecha Creacion</th>
                            </tr>
                        </thead>
                        <tbody th:each="usuario : ${listaUsuarios}">
                            <tr>
                                <td>
                                    <a th:href="@{/administrador/crearUsuario/} + ${usuario.id}" th:text="${usuario.id}" class="btn btn-primary btn-xs"></a>
                                </td>
                                <td th:text="${usuario.nombre}"></td>
                                <td th:text="${usuario.apellidoPat}"></td>
                                <td th:text="${usuario.apellidoMat}"></td>
                                <td th:text="${usuario.username}"></td>
                                <td th:text="${#strings.substring(usuario.rol,5)}"></td>
                                <td th:text="${usuario.enabled}"></td>
                                <td th:text="${usuario.fechaCreacion}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md2"></div>
                        <div class="col-md8">
                            <nav aria-label="Pagination">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" th:classappend="${previo==0 ? 'disabled' : '' }">
                                        <a class="page-link" th:href="@{/administrador/listarUsuarios(page=${previo})}" th:text="'Anterior'"></a>
                                    </li>
                                    <li class="page-item" th:each="p : ${paginas}" th:classappend="${actual==p ? 'disabled' : '' }">
                                        <a class="page-link" th:href="@{/administrador/listarUsuarios(page=${p})}" th:text="${p}"></a>
                                    </li>
                                    <li class="page-item" th:classappend="${actual==ultimo ? 'disabled' : '' }">
                                        <a class="page-link" th:href="@{/administrador/listarUsuarios(page=${siguiente})}" th:text="'Siguiente'"></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>