<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
        <div class="card bg-secondary text-white">
            <div class="card-header">
                <h3>Error 500!!!</h3>
            </div>
            <div class="card-body">
                <h5>Ha ocurrido un error en el servidor</h5>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>