<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <div class="row g-3">
                    <div class="col-auto">
                        <input type="button" value="Subir archivo" class="btn btn-success border mb-3"
                            data-bs-toggle="modal" data-bs-target="#uploadModal" th:if="${ruta!=''}">
                    </div>
                    <div class="col-auto">
                        <input type="button" value="Crear carpeta" class="mb-3 btn btn-success border"
                            data-bs-toggle="modal" data-bs-target="#mkdirModal"
                            th:if="${rol=='ROLE_ADMINISTRADOR' and ruta==''}">
                        <input type="button" value="Crear carpeta" class="mb-3 btn btn-success border"
                            data-bs-toggle="modal" data-bs-target="#mkdirModal"
                            th:if="${rol=='ROLE_ADMINISTRADOR' and ruta!=''}">
                        <input type="button" value="Crear carpeta" class="mb-3 btn btn-success border"
                            data-bs-toggle="modal" data-bs-target="#mkdirModal" 
                            th:if="${rol!='ROLE_ADMINISTRADOR' and ruta!='' and propietario}">
                    </div>
                </div>
                <div class="row my-1">
                    <a th:href="@{/directorio/}+${rutaAnterior}" class="col-1 btn btn-outline-primary border btn-sm"
                        th:if="${ruta!=''}"><-</a>
                    <span class="col ruta">Ruta: <span th:text="'/'+${ruta}" id="ruta"></span></span>
                </div>
                <div class="row my-1">
                    <table class="table table-stiped table-hover" ref="tabla">
                        <thead class="table-dark">
                            <tr>
                                <th>Nombre de archivo</th>
                                <th class="col-1 th_col">Tamaño</th>
                                <th class="col-2 th_col">Fecha de Modificación</th>
                                <th class="col-2 th_col">Accion</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            <tr th:each="dir : ${directorios}"
                                th:classappend="${dir.esDirectorio ? 'table-primary' : '' }">
                                <td th:text="${dir.nombre}" th:if="${!dir.esDirectorio}"></td>
                                <td th:if="${dir.esDirectorio}">
                                    <a th:href="@{/directorio/}+${#strings.replace(ruta,'/','+')}+'+'+${dir.nombre}"
                                        class="carpeta" th:text="${dir.nombre}" th:if="${ruta!=''}">
                                    </a>
                                    <a th:href="@{/directorio/}+${dir.nombre}" class="carpeta" th:text="${dir.nombre}"
                                        th:if="${ruta==''}">
                                    </a>
                                </td>
                                <td class="col-1 td_col" th:text="${dir.size}"></td>
                                <td class="col-2 td_col" th:text="${dir.formatoFecha}"></td>
                                <td class="col-2 td_col" th:if="${!dir.esDirectorio}">
                                    <div class="row">
                                        <form method="POST" th:action="@{/directorio/borrar/}">
                                        <button class="col btn btn-success btn-sm info" type="button"
                                            data-bs-toggle="modal" data-bs-target="#bkArchivoModal">
                                            <i class="bi bi-info-circle"></i>
                                        </button>
                                        <input type="hidden" class="link"
                                            th:value="'/directorio/bkArchivo/'+${#strings.replace(ruta,'/','+')}+'='+${dir.nombre}"
                                            th:if="${ruta!=''}" />
                                        <input type="hidden" class="link"
                                            th:value="'/directorio/bkArchivo/'+${dir.nombre}" th:if="${ruta==''}" />
                                        <a th:href="@{/directorio/descarga/}+${#strings.replace(ruta,'/','+')}+'='+${dir.nombre}"
                                            class="col btn btn-primary btn-sm" download th:if="${ruta!=''}">
                                            <i class="bi bi-arrow-down-circle"></i></a>
                                        <a th:href="@{/directorio/descarga/}+${dir.nombre}"
                                            class="col btn btn-primary btn-sm" download th:if="${ruta==''}">
                                            <i class="bi bi-arrow-down-circle"></i>
                                        </a>
                                            
                                        
                                            <button type="submit" class="btn btn-danger btn-sm"
                                                th:if="${rol=='ROLE_SUPERVISOR' and propietario}"
                                                onclick="return confirmarEliminacionArchivo();">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>
                                            <button type="submit" class="btn btn-danger btn-sm"
                                                th:if="${rol=='ROLE_ADMINISTRADOR'}"
                                                onclick="return confirmarEliminacionArchivo();">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>
                                            <input type="hidden" name="file" th:value="${dir.nombre}">
                                            <input type="hidden" name="ruta" th:value="${ruta}">
                                        </form>
                                    </div>
                                </td>
                                <td class="col-2 td_col" th:if="${dir.esDirectorio}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="directorio/upload  :: upload"></div>
    <div th:replace="directorio/crearCarpeta  :: crearCarpeta"></div>
    <div th:replace="directorio/bkArchivoModal  :: bkArchivo"></div>
    <div id="contenedor_carga" style="visibility: hidden;">
        <div id="carga"></div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>